@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Urbanist", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Light Mode Defaults (When .dark class is NOT present) */
html {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Dark Mode (When .dark class IS present) */
html.dark {
  background-color: #03030b;
  color: #f8fafc;
}
